<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            color: pink;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hello, {{ user.username|default:'Guest' }} </h1>
    <p>Welcome to Home Page</p>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        
        {% else %} 
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</body>
</html>