<!-- registration/login.html -->

{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="post">
      {% csrf_token %}
      <div class="row">
          <div class="col-12">
              {{ form.username|as_crispy_field }}
          </div>
      </div>
      <div class="row">
        <div class="col-12">
            {{ form.password|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group mb-3">
                <div class="g-recaptcha" data-sitekey="6LfMSVkgAAAAAKRQRVuI3BcSb02crgx-9IFymhpn"></div>
            </div>
        </div>
    </div>
          <input class="btn btn-success" type="submit" value="Login">
    </form>
    
{% endblock %}