{% extends "../__base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Delete Product #{{ product.code }}</h5>
    </div>

    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Are you sure you want to delete <strong>{{ product.name }}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}