{% extends "../__base.html" %}
{% block container %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Product Details #{{ product.code }}</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">Product Code</div>
            <div class="col-sm-9">{{ product.code }}</div>
            <div class="col-sm-3">Product Name</div>
            <div class="col-sm-9">{{ product.name }}</div>
            <div class="col-sm-3">Product Price</div>
            <div class="col-sm-9">{{ product.price }}</div>
            <div class="col-sm-3">Product Stock</div>
            <div class="col-sm-9">{{ product.stock }}</div>
            <div class="col-sm-3">Product Unit</div>
            <div class="col-sm-9">{{ product.unit }}</div>
            <div class="col-sm-3">Product Category</div>
            <div class="col-sm-9">{{ product.category }}</div>
        </div>
    </div>
</div>

{% endblock %}