{% extends '../__base.html' %}

{% block container %}
    <table class="table">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.unit }}</td>
                        <td>{{ product.category }}</td>
                        <td><a href="{% url 'product-detail' product.id %}">Detail</a> | <a href="{% url 'product-delete' product.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </tr>
    </table>
    {% if is_paginated %}
        {% include "../__pagination.html" %}
    {% endif %}
{% endblock %}